@import "/styles/common.css";

.title{
  margin-left: 20px;
  clear:both;
}

.high-gadget{
    height: 800px;
    overflow: scroll;
}

.trophy-gadget{
  height: 100px;
  padding-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #F4F4F6;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid #dcdce0;
}

.trophy-header{
  text-decoration: underline;
  color: #111111;
}

.trophy{
  float: left;
}

.trophy-gadget-content{
  margin: 5px;
}
