@import "common.scss";

.statuslist {
  margin-top: 5%;
  margin-left: 10%;
  font-size: 30px;
  float: left;
  width: 30%;
}

.statuscolor{
/*if failed*/
  color: red;
/*if passed
color:green */
}

.taskheader{
  text-decoration: underline;
}
.special-word {
  border-bottom: 1px dashed #999;
  &:hover {
    border-bottom: none;

  }
}
.passed {
    background-color: #5cb85c;
    color: #fefefe;
 }
.faild {
  background-color: #d9534f;
  color: #fefefe;
}

.hidden-btn{
  opacity: 0;
}

.assignment-select {
  margin: $body-padding $body-padding 6px;
  width: 300px;
  font-size: 23px;
}
