/* Space out content a bit */
$body-padding: 15px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower


body {
  background-color: #F4F4F6;
  padding-bottom: 20px;
}

.text-emph {
  font-size: 1.5em;
  font-weight: bold;
}

.gadget-section {
  padding-top: 10px;
  >.row {
    padding-bottom: 30px;
  }
}

.gadget {
  height: 350px;
  padding-left: 20px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid #dcdce0;

  .current-assignment-body {
    margin-top: 15px;
    >.pie-chart {
      float: left;
      margin-right: 15px;
    }
    .stat-text {
      font-size: 20px;
      height: 200px;
      line-height: 100px;
      float: left;
    }
  }
}

.subtitle {
  line-height: 1.7;
  font-size: 0.8em;
  color: grey;
}

.top{
  background-color: #337ab7;
  padding: 40px 15px;
}

.tflip{
  font-size: 40;
}

.assign{
  margin-left: 60px;
  margin-right: 60px;
}

.achive{
  margin-right: 60px;
}

.tflip,.assign,.achive{
  float: left;
}

.topbar-link > a {
  text-decoration: none;
  font-size: 30;
  color: black;
}

.topbar-link > a:hover{
  color:black;
}

.trophy-gadget{
  height: 100px;
  padding-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #F4F4F6;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid #dcdce0;
}

.trophy-header{
  text-decoration: underline;
  color: #111111;
}

.trophy{
  float: left;
}

.trophy-gadget-content{
  margin: 5px;
}
.gadget-scroll{
  overflow: scroll;
}
