/* Space out content a bit */
$body-padding: 15px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower


body {
  background-color: #F4F4F6;
  padding-bottom: 20px;
}

.text-emph {
  font-size: 1.5em;
  font-weight: bold;
}

.gadget-section {
  padding-top: 10px;
  >.row {
    padding-bottom: 30px;
  }
}

.gadget {
  height: 370px;
  padding-left: 20px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid #dcdce0;
}

.subtitle {
  line-height: 1.7;
  font-size: 0.8em;
  color: grey;
}

.tflip{
  font-size: 40;
}

.assign{
  margin-left: 60px;
  margin-right: 60px;
}

.achive{
  margin-right: 60px;
}

.tflip,.assign,.achive{
  float: left;
}

.topbar-link > a {
  text-decoration: none;
  font-size: 30;
  color: white;
}

.topbar-link > a:hover{
  color:#c8c8d0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #e4e4e4;
}

.trophy-gadget{
  height: 90px;
  padding-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #F4F4F6;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid #dcdce0;
}

.trophy-header{
  text-decoration: underline;
  color: #111111;
}

.trophy{
  float: left;
}

.gadget-scroll{
  overflow: scroll;
}

.helpbox {
  display: inline-block;
  position: relative;
}
.helpbox:hover .helpbox-content {
  opacity: 1;
}
.helpbox-content {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  height: 212px;
  width: 220px;
  font-size: .7em;
  opacity: 0;
  position: absolute;
  top: -220px;
  left: -26px;
  transition: opacity .2s linear;
}
