$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background-color: #eee;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: #F4F4F6;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.gadget-section {
  padding-top: 10px;
  >.row {
    padding-bottom: 30px;
  }
}

.gadget {
  height: 350px;
  padding-left: 20px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid #dcdce0;
  >.current-assignment {
    margin-top: 45px;
    >* {
      float: left;
      margin-right: 15px;
    }
    >.stat {
      font-size: 20px;
    }
  }
}

.text-emph {
  font-size: 1.5em;
  font-weight: bold;
}

.pie-chart {
  width: 200px; height: 200px;
  transform: rotate(-90deg);
  background: yellowgreen;
  border-radius: 50%;
}

.pie-circle {
  stroke: yellowgreen;
  fill: #655;
  stroke-width: 32;
  stroke-dasharray: 60 100; /* for 38% */
}
